__pycache__
env
.gitignore

users-service/project/__pycache__
users-service/env

users-service/project/tests/__pycache__

users-service/project/api/__pycache__

htmlcov
htmlcov/
jest_0/

client/src/components/__snapshots__

key.txt

node_modules
